<html>
    <head>
        <meta charset="utf-8">
        <title>Weather App</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
        <script src="//code.jquery.com/jquery.min.js"></script>
      

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/reader.css">
        <link rel="stylesheet" href="static/css/magnifier.css">
        <link rel="stylesheet" href="static/css/keyboard.css">

    </head>

    <body style = "background-color : #fff1d2">

        <!--Jquery script to get the selected text of the country to display in the table-->
        <script>
            $(document).ready(function(){
                $('#country').on('change',function(){
                    var countryName = $(this).find('option:selected').text();
                    $('#selectedOption').val(countryName)
                });
            });
        </script>

        <div class="container mt-5 mb-5 d-flex justify-content-center">  
            <div class="card px-1 py-4">
                <div class="card-body">
                    <center><h5 class="card-title mb-3">Weather Recommendation</h5></center>
                    <h6 class="information mt-4">Please provide all the information below.</h6>
                    <div class="row">
                        <div class="col-sm-12">
                            <form action = "/load" method = "post">
                                <div class="form-group">
                                    <label for ="City">City:</label>
                                    <input type="text" id="city" name="city" class="form-control" placeholder="Enter city..." required autofocus>

                                </div>
                            
                        </div>
                    </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Country:</label>
                                            <select name ="country" id="country">
                                                {% for i in country%}
                                                <option value = {{i.Code}} data-text= {{i.Name}}>{{i.Name}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="hidden" id="selectedOption" name="selectedOption">

                                        <div class="form-group">

                                            <label>Units: </label>
                                            <select name ="unit" id ="unit">
                                                <option value ="standard">Standard(Kelvin)</option>
                                                <option value ="metric">Metric(Celcius)</option>
                                                <option value="imperial">Imperial(Fahrenheit)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class = "form-group">

                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Find Weather</button>
                                </div>
                            </form>
                </div>

            </div>

        </div>

        <button class="open-button" onclick="openForm()">Accessibility</button>

        <div class="form-popup" id="myForm">
          <form action="/action_page.php" class="form-container">
            <h1>Accessibility Features</h1>

            <button aria-label="Add Contrast" id="accessibility-contrast" class="js-acessibility" onclick="accessibility()">Add Contrast</button>
            <button id="Keyboard" type="button" class = "btn" onclick ="keyboard()" >Keyboard</button>
            <button id="Magnification" type="button" class = "btn" onclick="magnifier()">Magnification</button>
            <button id="accessibility-toggle" type="button" class = "btn" onclick="textToSpeech()">Text-To-Speech</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>

        <!--Pop Up botton for Accessibility -->
        <script>
          function openForm() {
            document.getElementById("myForm").style.display = "block";
          }
          
          function closeForm() {
            document.getElementById("myForm").style.display = "none";
          }

          function accessibility(){
            $(document).ready(function() {
              accessibilityButtons();

            })          
          }

            // text to speech 
          function textToSpeech(){

            $(document).ready(function() {

  
              var isAccessibilityOn = false;

              function highlightElement($element) {
                  if ($element.is("img, p, span, h1, h2, h3, h4, h5, h6, a, label, button")) {
                      $element.addClass("accessibility-highlight");
                  }
              }

              function unhighlightElement($element) {
                  $element.removeClass("accessibility-highlight");
              }

              function speakText($element, text) {
                if (!text) {
                    text = $element.clone()
                        .children()
                        .remove()
                        .end()
                        .text();
                }

                if (isAccessibilityOn) { // Check if the accessibility mode is turned on
                    var utterance = new SpeechSynthesisUtterance(text);
                    utterance.onend = function() {
                        if (callback) {
                            callback();
                        }
                    };
                    speechSynthesis.speak(utterance);
                  }
              }


                $(document).on("change", "select", function() {
                    if (isAccessibilityOn) {
                        speakText($(this), $(this).find("option:selected").text());
                    }
                });


                $(document).on("mouseenter", "img, p, span, h1, h2, h3, h4, h5, h6, a, label, button", function() {
                    if (isAccessibilityOn) {
                        highlightElement($(this));
                    }
                });

                $(document).on("mouseleave", "img, p, span, h1, h2, h3, h4, h5, h6, a, label, button", function() {
                    if (isAccessibilityOn) {
                        unhighlightElement($(this));
                    }
                });

                $(document).on("keydown", function(e) {
                    if (e.keyCode === 32 && e.target.tagName !== "INPUT" && e.target.tagName !== "TEXTAREA") {
                        var $highlighted = $(".accessibility-highlight:hover");
                        if ($highlighted.length > 0) {
                            speakText($highlighted);
                        }
                    }
                });

                $("#accessibility-toggle").on("click", function() {
                    isAccessibilityOn = !isAccessibilityOn;
                    if (isAccessibilityOn) {
                      speakText($(this), "Accessibility mode turned on. Hover over a text or image element and press space to read it.", function() {
                      highlightElement($(".accessibility-highlight"));
                      });
                    } else {
                      speechSynthesis.cancel();
                      unhighlightElement($(".accessibility-highlight"));
                      speakText($(this), "Accessibility mode turned off", function() {
                        $(".temp-element").remove();
                      });
                    }

                });
              
            });
            
          }

          // magnification
          function magnifier(){

            $(document).ready(function(){

              var zoom = 1.0; 
              var body_width = document.body.clientWidth; 
              var body_height = document.body.clientHeight; 

              document.addEventListener('keydown', function(e){
                  
                  //Browser Zoom 
                  if (e.key == "-"){
                      zoom -= 0.1; 
                      zoomString = zoom.toFixed(1).toString(); 
                      document.body.style.zoom = zoomString; 
                  }
                  else if(e.key == "="){
                      zoom += 0.1; //change it to string
                      zoomString = zoom.toFixed(1).toString(); 
                      document.body.style.zoom = zoomString; 

                  }

                  if (e.key == "+" || e.key == "_"){
                      $("body").css("position","relative");
                      //Graphical Zoom
                      if (e.key == "+"){
                          zoom += 0.1; 

                      }
                      else if(e.key == "_"){
                          zoom -= 0.1; 

                      }
                      var newWidth = zoom.toFixed(1) * body_width; 
                      var newHeight = zoom.toFixed(1) * body_height; 

                      var pixel_width = (newWidth-body_width)/2; 
                      var pixel_height = (newHeight-body_height)/2; 
                      $("body").css("left", pixel_width.toString() + "px"); 
                      $("body").css("top", pixel_height.toString() + "px"); 
                      $("body").css("transform", 'scale(${zoom.toFixed(1)}'); 

                      if(zoom.toFixed()==1.0){
                          $("body").css("transform", "");
                      }

                  } 

              });


              var oldx = 0; 
              var oldy = 0; 

              document.addEventListener('mousemove', e=>{

                  var x= e.clientX
                  var scrollLeftValue = $(document).scrollLeft(); 

                  // if the coo relative to the window seem are less than 100px
                  //and if the coo of the old move are grater than the coo of the new move
                  // and if the coo relative to the window are not equal to coo of the move

                  if((x<=100) & (oldx>e.pageX) &(x !=e.pageX)){
                      $(document).scrollLeft(scrollLeftValue -10); 

                  }

                  //if the window width minus the coo relative to the window are less than 100 
                  // and if the coo of the old moce are less than the coo of new move
                  //scroll other way 
                  if(($(window).width() -x) <100 & (oldx <e.pageX)){
                      $(document).scrollLeft(scrollLeftValue +10);
                  }

                  oldx = e.pageX
                  oldy = e.pageY

              }); 


              $("*:not(body)").on("mouseenter", function(ev){

                  //may want to remove leftover highlights vefore highlighting a new 
                  $(".highlight").removeClass("highlight")
                  //when a mouse enters an element
                  $(this).addClass("highlight")

                  //to prevent multiple elements from being highlighted 
                  //we will only highlight the first element so we need to call the following
                  //to stop hovering on a child from highloghting the parent
                  ev.stopPropagation(); 

                  //set the element variable
                  element = this; 
              });

              $("*:not(body)").on("mouseleave", function(ev){
                  $(this).removeClass("highlight"); 

                  $(".highlight").removeClass("highlight")

              });

              document.addEventListener("keydown", function(e){

                  if(e.code == ""|| e.code == "Space"){
                      //need to stop the page from scrolling down when we press space
                      if(e.stopPropagation){
                          e.stopPropagation(); 
                          e.preventDefault(); 
                      }

                      //if text is highighted and there is no refactored window open 
                      //make a refactored window
                      //otherwise the window is open so close it

                      //check if div exist
                      if($(element).hasClass("highlight") & $('#mydiv').length == 0){
                          //var newImage = new Image(); 

                          $("body").append($("<div id = 'mydiv'></div>"))


                          var imgsrc = $(element).attr("src"); 
                          var imgalt = $(element).attr("alt"); 

                          if($(element).attr("alt") && $(element).attr("src")){
                              

                              $('#mydiv').append($("<img class = 'magnified' alt=" + imgalt + " src=" + imgsrc+">")); 
                              $('.magnified').css({'width': '100%', 'height': '100%'})
                              $('.magnified').css('object-fit', 'contain'); 
                              $('#mydiv').css('height', '75%')

                          }

                          else if($(element).attr("src")){
                              $('#mydiv').append($("<img class = 'magnified' src =" + imgsrc+">")); 
                      
                              $('.magnified').css({'width': '100%', 'height': '100%'})
                              $('.magnified').css('object-fit', 'contain'); 
                              $('#mydiv').css('height', '75%')
                          }

                          //else the element is not an image and it's stext 
                          else{
                              //write the text to the div
                              $('#mydiv').html($(".highlight").text()); 
                              //might want to add background color for text 
                              $('#mydiv').css('background-color', 'white')
                              $('#mydiv').css('border-radius', "25px")
                              $('#mydiv').css('border', '1px solid black')
                              $('mydiv').css('padding', "25px")
                          }


                      }
                      //else remove 
                      else{
                          $("#mydiv").html("")
                          $("#mydiv").remove()

                      }
                  }
                  else{
                      $(".highlight").removeClass("highlight")
                  }
              });



            });

            
            
          }


          function keyboard(){

            $(document).ready(function(){

              var state = "none";
              var x = 0; 
              var y = 0;


              var inputBox;
              var upperCase; 
              var shift; 
              var keyScan; 


              $("body").append("<div id = linex class = 'linex'></div>"); 
              $("body").append("<div id = liney class = 'liney'></div>"); 
              //$('button.down').show(); 

              //trigger a click using the scan bars 

              function simulateClick(element){
                  if(!element) return; 
                  var dispatchEvent = function(elt, name){
                      var clickEvent = document.createEvent('MouseEvents')
                      clickEvent.initEvent(name, true, true); 
                      elt.dispatchEvent(clickEvent); 
                  }; 
                  dispatchEvent(element, 'mouseover')
                  dispatchEvent(element, 'mousedown')
                  dispatchEvent(element, 'click')
                  dispatchEvent(element, 'mouseup')
              }; 

              //scan bars to select item on page 

              setInterval(function(){
                  paint();      
                  
              }, 10); 

              function paint(){
                  if(state == "horizontal_scanning"){

                      document.getElementById("linex").style.width = (x + "px"); 
                      x = x + 1; 

                  }else if(state == "vertical_scanning"){
                  
                      document.getElementById("liney").style.height = (y + "px"); 
                      y = y + 1
              
                  }else{

                      //do nothing

                  }
              }

              $(document).keydown(function(e){
                  if(e.key == " "){

                      keyScan = true; 

                      if (state == 'none'){
                          state = "horizontal_scanning";

                      }
                      else if (state == "horizontal_scanning"){
                          state = "vertical_scanning"

                      }
                      else {
                  
                        document.getElementById("linex").style.width = ("0px");
                        document.getElementById("liney").style.height = ("0px");
                        var click = document.elementFromPoint(x,y); 
                        simulateClick(click); 

                        //console.log(click);

                        if($(click).is("input[type = 'text'], textarea")){
                            inputBox = click; 

                        }

                        state = "none";
                        x = 0; 
                        y = 0; 

                      } 

                      if(keyboardState == "ON"){
                          useKeyboard(inputBox,click); 
                  
                      }

                      e.stopPropagation(); 
                      e.preventDefault(); 

                    // console.log(inputBox);
                      //console.log(keyboardState);
                      //console.log(inputBox); 

                      keyScan = false; 
                      console.log("keydown called")
                      
                      return false; 

                      
                  }


              });

              /*
              var boxPressed; 
              document.addEventListener("click", function(e){
                  console.log("clicked called")
                  var element = $(e.target); 

                  if($(element).is("input[type = 'text'], textarea")){

                      boxPressed = element; 

                  }

                  if(element.hasClass("key")){
                      useKeyboard(boxPressed,element) 
                  }

                  console.log(element); 
                  console.log(boxPressed); 
              });
              */

              //scroll button
              //up and down button 
              var upButton= $("<button type = 'button' id= 'up' class = 'up'>^</button>"); 
              var downButton= $("<button type = 'button' id = 'down' class = 'down'>V</button>"); 

              var scrollPercent = document.body.scrollHeight/10; 

              upButton.click(function(){

                  $('html,body').animate({
                      scrollTop: $(document).scrollTop()-scrollPercent
                  }, 1000); 

              }); 

              downButton.on('click', function(){

                  $('html,body').animate({
                      scrollTop: $(document).scrollTop()+scrollPercent 
                  }, 1000); 

              })

              $("body").append(upButton);
              $("body").append(downButton); 

              //add keyboard
              var keyboardbtn = $('<button type = "button" id = "keyboardbtn" class="keyboardbtn">Keyboard</button>')
              $("body").append('<div id= "spaceForKeyboard" class="spaceForKeyboard"></div>')

              var keyboardState = "OFF";

              keyboardbtn.click(function(){

                  console.log("called")

                  if(keyboardState == "OFF"){

                      $("#spaceForKeyboard").load("https://sarahmorrisonsmith.com/accessibility/keyboard.html");

                      keyboardState="ON";
                  
                      if(!inputBox){
                          console.log("No selected text box");
                      }
                      
                  }
                  else{
                      $("#spaceForKeyboard").empty();
                      keyboardState="OFF";
                  }
                  
              }); 


              $("body").append(keyboardbtn); 

              function useKeyboard(inputBox, element){

                  var spaceClass = $(element).hasClass("key space")
                  var input = $(element).text();

                  input = $.trim(input);         
                  
                  //inputs are letters 
                  if(input.length == 1){
                      if(upperCase || shift){
                          $(inputBox).val($(inputBox).val()+input); 
                          shift = false; 
                      }
                      else{
                          input = input.toLowerCase(); 
                          $(inputBox).val($(inputBox).val()+input);
                      }
                  }

                  //capslock
                  else if(input == "CapsLock"){
                      if(upperCase){
                      

                          upperCase = false;
                      }

                      else{
                          upperCase = true; 
                      }          
                  }

                  
                  //inputs are dual key 

                  
                  
                  else if(input.length == 2){

                      if(shift){

                          input = input.charAt(0);
                          $(inputBox).val($(inputBox).val()+input); 
                          shift = false; 

                      }
                      else{

                          shift = true;
                          input = input.charAt(1);
                          $(inputBox).val($(inputBox).val()+input); 
                          shift = false; 
                          

                      }    

                  }
                  
                  
                  
                  //backspace
                  else if(input == "Backspace"){
                      $(inputBox).val($(inputBox).val().slice(0,-1)); 
                      
                  }

                  //enter
                  else if(input == "Enter"){ 

                      input = "\n"; 
                      $(inputBox).val($(inputBox).val() + input);

                  }
                  

                  //spacebar 
                  //works only if the keyboard is pressed manually with a mouse
                  //does not work if the keyboard is pressed using space/scan bar lines 
                  
                  if(spaceClass == true && input.length == 0){
                      console.log("called keyboard space")

                      input = " ";
                      $(inputBox).val($(inputBox).val() + input);
                      
                  }
                  
                  //tab
                  if(input == "Tab"){

                      input = "    "; 
                      $(inputBox).val($(inputBox).val()+input);

                  }
                  
                  //shift 
                  else if (input == "Shift"){ 

                      if(shift){

                          upperCase = false; 
                          shift = false;           
                      }

                      else{
                          
                          upperCase = true;
                          shift = true;        
                          upperCase = false; 

                      }
                  }

                  

              }

              //export{useKeyboard}; 


              });



          }

        </script>



       

    </body>

   

</html>